* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.2rem;
}
html {
  font-family:Georgia, 'Times New Roman', Times, serif;
  background-color: #ff9f32;
  color: #fff;
}
body {
  margin: 0 10% 20% 10%;
}
h1, h2, h3, h4, h5, h6 {
  text-align: center;
  margin: 0.25em 0;
}
h1 {
  font-size: 6rem;
  font-weight: normal;
}
p {
  margin-bottom: 1em;
}

nav {
  display: flex;
  justify-content: space-between;
}
nav a {
  color: #fff;
  opacity: 75%;
  text-decoration: none;
  padding: 0.5em 0;
}
nav a:hover {
  opacity: 100%;
}
.current_page {
  border-bottom: 2px solid #fff;
}

img {
  width: 33%;
  display: inline;
  padding: 1em 1em;
}

video {
  display: block;
  margin: 1em auto;
}

#tagline {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.5em;
  font-style: italic;
  text-align: center;
  text-shadow: 0px 0px 20px #000;
}

.banner {
  width: 100%;
  margin: -13rem 0 1rem 0;
  padding: 0;
  position: relative;
  z-index: -999;
}

#mayphoto {
  width: 33%;
  display: block;
  margin: 1em auto;
}

.shop-items {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.shop-item {
  width: 45%;
  margin-bottom: 5%;
}
.shop-item img {
  width: 100%;
}
.item-name {
  font-size: 2rem;
}