* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  text-size-adjust: none;
  font-size: 1.5rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
body {
  margin: 0 10% 20% 10%;
}
h1, h2, h3, h4, h5, h6 {
  text-align: center;
  margin: 0.25em 0;
}
p {
  margin-bottom: 1em;
}
blockquote {
  margin-bottom: 1rem;
}
blockquote p {
  margin-bottom: 0.5rem;
  font-size: 2rem;
  text-align: center;
}

.banner {
  background-image: url('/resources/banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px 0;
  margin-bottom: 20px;
}
.banner_photo {
  display: none;
}
.card {
  background-color: #fff;
  width: 25%;
  padding: 20px;
  margin: 0 auto;
}
.logo {
  width: 100%;
  display: block;
  margin: 0 auto;
  padding-top: 10px;
}
.tagline {
  font-size: 1rem;
  font-style: italic;
  text-align: center;
  margin-top: 15px;
}
h1 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0.5rem 0;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
nav a {
  color: #000;
  opacity: 50%;
  text-decoration: none;
  padding: 0.5em 0;
}
nav a:hover {
  opacity: 100%;
}
.current_page {
  opacity: 100%;
}

img {
  width: 33%;
  display: inline;
  margin: 1em 1em;
}

video {
  display: block;
  margin: 1em auto;
}

#mayphoto {
  width: 33%;
  display: block;
  margin: 1em auto;
}

@media screen
  and (max-width: 1000px) {
  nav {
    flex-direction: column;
  }
  nav a {
    width: 100%;
  }
  .banner{
    background: none;
  }
  .card {
    width: 100%
  }
  .card img {
    height: 50vh;
  }
  .banner {
    padding: 5px;
  }
  .banner_photo {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
  img {
    width: 100%;
    display: block;
  }
}

/*
Fix weird font scaling on pixel 7.
*/
@media screen
  and (resolution < 275dpi)
  and (-webkit-min-device-pixel-ratio: 2) {
  html {
    font-size: 50pt;
  }
}
